.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh - 50;

  .authCard {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
    padding: 50px 0;
    width: 600px;

    .authTitle {
      display: flex;
      justify-content: center;
    }
    .authForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .emailInput {
        width: 50%;
        margin-bottom: 15px;
        border: none;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
        padding: 10px;
        &::placeholder {
          font-size: 1em;
        }
      }

      .passwordInput {
        width: 50%;
        border: none;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
        padding: 10px;
        &::placeholder {
          font-size: 1em;
        }
      }

      .authButtons {
        margin-top: 20px;
        width: 50%;
        display: flex;
        justify-content: space-between;

        .registrationLink {
          padding: 0;
          background-color: #fff;
          color: rgb(64 116 229);
        }

        .loginLink {
          padding: 0;
          background-color: #fff;
          color: rgb(64 116 229);
        }

        .authButton {
          color: rgb(64 116 229);
          border: 1px solid;
          padding: 10px;
          background-color: #fff;
          &:hover {
            color: #fff;
            transition: 0.2s;
            background-color: rgb(64 116 229);
          }
        }
      }
    }
  }
}
