.priceWrapper {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  .priceTitle {
    padding-bottom: 10px;
  }

  .priceFilter {
    display: flex;

    .priceInputFrom {
      padding: 0 5px;
      width: 100px;
    }

    .priceInputUpTo {
      padding: 0 5px;
      width: 100px;
      margin: 0 15px;
    }

    .priceSearchButton {
      padding: 5px;
      background-color: rgb(64 116 229);
    }

    .priceSearchImage {
      width: 15px;
      height: 15px;
    }
  }
}
