li {
  cursor: pointer;
}

.collapseButton {
  font-size: 20px;
  color: #000;
  background-color: #fff;
  .collapseButtonOpen {
    width: 20px;
    height: 20px;
  }
  .collapseButtonClose {
    width: 20px;
    height: 20px;
  }
}

.active {
  color: rgb(64 116 229);
}
