.subInfoWrapper {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;

  .subInfoButtons {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    button {
      padding: 5px;
      margin-right: 20px;
      color: #000;
      background-color: #fff;
      border: 1px solid rgb(64, 116, 229);
      &:hover {
        transition: 0.2s;
        color: #fff;
        background-color: rgb(64, 116, 229);
      }
    }
  }

  .subInfoContent {
    margin-top: 20px;
  }
}
